workflows:
  version: 2.1
  lint:
    jobs:
      - lint_app1
      - lint_app2

version: 2.1
jobs:
  lint_app1:
    docker:
      - image: circleci/node:12
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: is changed
          command: |
            git diff ${CIRCLE_BRANCH} origin/master --exit-code --relative './app1/'
            if [ $? -eq 0 ]; then circleci step halt; fi
      - run:
          name: lint app1
          command: |
            cd app1
            npm ci
            npm run lint
  lint_app2:
    docker:
      - image: circleci/node:12
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: is changed
          command: |
            git diff ${CIRCLE_BRANCH} origin/master --exit-code --relative './app2/'
            if [ $? -eq 0 ]; then circleci step halt; fi
      - run:
          name: lint app2
          command: |
            cd app2
            npm ci
            npm run lint
